* {
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2rem 3rem;
    z-index: 1;
}

.brand-title {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.toggle-button {
    position: absolute;
    top: 37px;
    right: 48px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 10px;
}

.main-title {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 3vw;
    transform: translate(-50%, -40%);
    max-width: 36%;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.2);
}

.container {
    height: 100vh;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    width: 100%;
    background: rgb(24, 24, 24);
    min-height: 100vh;
    z-index: 2;
    position: absolute;
}

.my-story {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -40%);
    max-width: 36%;

}

.bg2 {
    top: 350px;
}

.bg3 {
    top: 100px;
}

@media (max-width: 1300px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .main-title {
        max-width: 100%;
        font-size: 7vw;
    }
}